@import './variables';
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $color-background;
  font-family: $font;
  font-size: 16px;
  line-height: 1.7;
  font-weight: $font;
  color: $color-text1;
}
section {
  padding: 40px 0; }

.container {
  max-width: 450px;
  margin: 0 auto;
  padding: 0 20px;
}

p, h1, h2 {
  margin: 0;
  padding: 0;
}

#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}


