.splash {
  height: 100%;
  position: relative;
  align-items: center;

  .splash-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 5%;
    background-image: url("/images/background.jpg");
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0px -100px 50px -47px #131313;

    .page-title {
      color: $color-text1;
      font-size: 140px;
      font-weight: 700;
      letter-spacing: 60px;
    }

    .page-subtitle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 2%;

      h3 {
        color: $color-text1;
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 8px;
      }
    }
  }

  .nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;

    a {
      color: $color-text2;
      //text-transform: uppercase;
      text-decoration: none;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 4px;
      padding: 0 2%;

      &.active {
        color: $color-text1;
      }
    }

  }
}

.section-title {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;

  h2 {
    color: $color-text2;
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 10px;
  }
}

.section-description {
  display: flex;
  padding: 40px 0;
  align-items: center;
  justify-content: center;

  p {
    color: $color-text1;
    font-size: 24px;
    letter-spacing: 4px;
  }
}

.page-footer {
  padding: 40px 0;
  text-align: center;
}

@media (max-width: 400px) {
  .splash .splash-inner .page-title {
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 30px;
  }

  .splash .splash-inner .page-subtitle h3 {
    font-size: 16px;
    margin: 4px 0;
  }
}