$color-main: #ca2f31;
$color-secondary: #DC5C61;
$color-text1: #ffffff;
$color-text2: #bfbfbf;
$color-background: #131313;

$font:  "Source Sans 3", sans-serif;

$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;