.playlist {
  display: flex;
  flex-direction: column;
  gap: 48px;

  .green-audio-player .slider .gap-progress {
    background-color: $color-main;
  }

  .green-audio-player .slider .gap-progress .pin {
    background-color: $color-main;
  }

  .playlist-item {
    display: flex;
    flex-direction: column;

    .playlist-title {
      padding: 0 0 20px 24px;
      gap: 8px;
      font-size: 20px;
      letter-spacing: 3px;
      font-weight: 500;

      .author {
        text-transform: uppercase;
      }

    }

    .player {
      position: relative;
      width: 100%;
      height: 56px;

      .player-song {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        opacity: 0;
      }
    }

    .playlist-footer {
      padding: 16px 16px 0 16px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      color: $color-text2;
    }
  }
}

.playlist-filter {
  max-width: 40%;
  margin: 0 auto 32px auto;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;

  .categories-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 16px;
    align-items: center;
    gap: 16px;
    font-size: 18px;
    font-weight: 600;

    li {
      cursor: pointer;
      &.selected {
        color: $color-main;

      }
    }
  }
}

@media (max-width: 400px) {
  .playlist-filter {
    max-width: 100%;
    align-items: flex-start;
    gap: 8px;
  }
}
